.ablogincontent {
    border: 0px solid;
    background-color: purple;
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
}

.blogtitle {
    text-decoration: none;
    font-size: 40px;
    line-height: 170%;
    font-family: Verdana, sans-serif;
    padding: 15px;
}

a{
    text-decoration: none;
    color: rgb(227, 224, 182);
}

.blogabstract {
    font-family: 'Trebuchet MS', sans-serif;
    padding: 15px;
    color: rgb(255,255,255);
}