body {
    margin: 5%;
}

a:link,
a:visited {
    color: rgb(51, 58, 6);
    text-decoration: none;
    border-style: solid;
    border-radius: 10pt;
    font-size: 25px;
    padding: 20pt 40pt;
    line-height: 75pt;
}

a:hover {
    color: rgb(39, 0, 39);
    padding: 20pt 80pt;
    transition: 0.5s;
}